/*
 Name: Bookmark landing page.
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani
 Author URL:  https://github.com/eserengo/
*/

@import "variables.css";

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

.icon {
  cursor: pointer;
}

.title {
  color: var(--VeryDarkBlue);
}

.para {
  color: var(--GrayishBlue);
}

.para {
  font-size: 90%;
}

.btn,
.link,
:where(.features__section, .features__page) .nav-link,
.signin__page :is(.form-label, .form-control, .form-check-label, .error, .success) {
  font-size: 70%;
}

.link {
  text-decoration: none;
  color: var(--VeryDarkBlue);
}

.link:hover {
  color: var(--SoftRed);
  border-bottom: 2px solid var(--SoftRed);
}

.btn {
  border-radius: 4px;
}

.btn:hover {
  box-shadow: 0px 1px 2px var(--GrayishBlue);
}

.btn-primary {
  color: var(--White);
  background-color: var(--SoftBlue);
  border: 1px solid var(--SoftBlue);
}

.btn-primary:hover {
  color: var(--SoftBlue);
  background-color: var(--White);
}

.btn-secondary {
  color: var(--White);
  background-color: var(--GrayishBlue);
  border: 1px solid var(--GrayishBlue);
}

.btn-secondary:hover {
  color: var(--VeryDarkBlue);
  background-color: var(--White);
  border: 1px solid var(--VeryDarkBlue);
}

.btn.link {
  color: var(--White);
  background-color: var(--SoftRed);
  border: 1px solid var(--SoftRed);
}

.btn.link:hover {
  color: var(--SoftRed);
  background-color: var(--White);
}

.success {
  color: var(--SoftGreen);
}

.error {
  color: var(--SoftRed);
}

.validated {
  border: 2px solid var(--SoftGreen) !important;
}

.not__validated {
  border: 2px solid var(--SoftRed) !important;
}

.form-check-input {
  float: none !important;
  margin: 4px 4px 0px 0px !important;
}

/* svg:hover {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(deg) brightness(100%) contrast(100%);
} */