/*
 Name: Bookmark landing page.
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani
 Author URL:  https://github.com/eserengo/
*/

@import "variables.css";

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

.icon {
  cursor: pointer;
}

.title,
.link,
.card-title,
:where(.features__section, .features__page) .nav-link.active,
.accordion-button,
.accordion-button:not(.collapsed),
.btn-secondary:hover {
  color: var(--VeryDarkBlue);
}

.link:hover,
.btn.link:hover,
.error,
:where(.features__section, .features__page) .nav-link:not(.active):hover,
.accordion-button.collapsed:hover,
.footer .link:hover {
  color: var(--SoftRed);
}

.para,
.card-text,
:where(.features__section, .features__page) .nav-link:not(.active),
.accordion-body {
  color: var(--GrayishBlue);
}

.success {
  color: var(--SoftGreen);
}

.btn-primary,
.btn-secondary,
.btn.link,
.para.secondary,
.tertiary,
.contact__group em,
.footer .link {
  color: var(--White);
}

.btn-primary,
.contact__section {
  background-color: var(--SoftBlue);
}

.btn-primary:hover,
.btn-secondary:hover,
.btn.link:hover {
  background-color: var(--White);
}

.btn.link,
.contact__group.not__validated {
  background-color: var(--SoftRed);
}

.card-title {
  font-size: 100% !important;
}

.para,
.accordion-body,
.footer .link,
.attribution span > a {
  font-size: 90%;
}

.btn,
.link,
:where(.features__section, .features__page) .nav-link,
.card-text,
.contact__group em,
.contact__group input,
.signin__page :is(.form-label, .form-control, .form-check-label, .error, .success),
.attribution span {
  font-size: 70%;
}

.contact__section .para,
.footer .link {
  letter-spacing: 1px;
}

.download__section .card,
.contact__group input,
:where(.features__section, .features__page) .nav-link {
  border: none !important;
}

.link,
.footer .link {
  text-decoration: none;
}

.btn {
  border-radius: 4px;
}

.btn:hover {
  box-shadow: 0px 1px 2px var(--GrayishBlue);
}

.btn-primary {
  border: 1px solid var(--SoftBlue);
}

.btn-primary:hover {
  color: var(--SoftBlue);
}

.btn-secondary {
  background-color: var(--GrayishBlue);
  border: 1px solid var(--GrayishBlue);
}

.btn-secondary:hover {
  border: 1px solid var(--VeryDarkBlue);
}

.btn.link {
  border: 1px solid var(--SoftRed);
}

.validated {
  border: 2px solid var(--SoftGreen) !important;
}

.not__validated {
  border: 2px solid var(--SoftRed) !important;
}

.form-check-input {
  float: none !important;
  margin: 4px 4px 0px 0px !important;
}

.link:hover,
:where(.features__section, .features__page) .nav-link.active {
  border-bottom: 2px solid var(--SoftRed) !important;
}

.download__section .card {
  box-shadow: 0px 2px 4px var(--GrayishBlue);
}

.contact__section .error.icon {
  top: 16%;
  right: 4%;
}

.contact__group input {
  outline: none !important;
}

.contact__group input,
.btn-danger {
  height: 36px;
}

.contact__group.validated {
  background-color: var(--SoftGreen);
}

:where(.email__group, .password__group) .error.icon {
  top: 42%;
  right: 6%;
}

.checkbox__group .error.icon {
  top: 52%;
  left: 0%;
}

.footer {
  background-color: var(--VeryDarkBlue);
}

.social.icon:hover {
  filter: invert(50%) sepia(100%) saturate(1500%) hue-rotate(320deg) brightness(100%) contrast(200%);
}